<a href="https://colab.research.google.com/github/mdrajmondal/Almabetter_Python_Assignment/blob/main/Copy_of_Assignment_Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [15]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [16]:
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)

In [17]:
# Store the lowest temperature 
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index =temperatures.index(min_temp)

In [20]:
# Swap the highest and the lowest temperatures

temperatures[max_temp_index] = min_temp
temperatures[min_temp_index] = max_temp
output_temperatures = temperatures

In [22]:
# Print the output list
print(output_temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [23]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [25]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list)/len(prod_price_list)
print(mean_price)

1975.0

### Calculate the median price

In [45]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)
sorted_prices

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [53]:
# Check if the number of elements in the list is even or odd
len(sorted_prices)%2 == 0

True

In [55]:
# Use the corresponding formula to calculate the median and print the median
n1 = sorted_prices[len(sorted_prices)//2]
n2 = sorted_prices[len(sorted_prices)//2-1]
median_price = (n1+n2)/2
median_price

575.0

In [60]:
# Check which is greater, mean or median
mean_price > median_price

True

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation :  After calculating mean and median of the product price list we have found that mean is greater than the median for this case.

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [150]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [159]:
# Write your code below
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']] 
subsumed_list = tech_companies[-1]
tech_companies.remove(subsumed_list)
tech_companies.extend(subsumed_list)
print(tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [167]:
# Do the same task another way
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]
subsumed_list = tech_companies.pop(-1)
tech_companies.extend(subsumed_list)
print(tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']